{{define "body"}}
Password Reset
 
Your request link to reset your password

Click below to get started reseting your password</p>

{{.Link}}

This link expires in 60 minutes. 
      
Productive Muslim 2021
{{end}}